:root {
    --red-100: #fee2e2;
    --red-600: #DC2626;
    --red-700: #b91c1c;
    --green-100: #dcfce7;
    --green-500: #22c55e;
    --green-700: #108519;
    --white: #f7f7f7;
    --gray-50: #f9fafb;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --blue-500: #155ec8;
    --blue-200: #bfdbfe;
    --yellow-700: #a16207;
    --yellow-100: #fef9c3;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    z-index: 999;
    overflow-y: scroll;
    height: 100%;
}

.content label {
    display: block;
    margin-bottom: 4px;
    margin-top: 16px;
    font-weight: 500;
    color: var(--gray-800);
}

.content input, .content textarea, .content select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    outline: none;
}

.content {
    background-color: var(--white);
    border-radius: 4px;
    padding: 32px;
    margin: 15%;
    margin-top: 5%;
    overflow: scroll;
    height: fit-content;
    position: relative;
}

.content h1 {
    font-size: 28px;
    text-align: center;
}