:root {
  --red-600: #DC2626;
  --red-700: #b91c1c;
  --green-500: #22c55e;
  --green-700: #108519;
  --white: #f7f7f7;
  --gray-50: #f9fafb;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --blue-500: #155ec8;
  --blue-200: #bfdbfe;
  --yellow-700: #a16207;
  --yellow-100: #fef9c3;
}

.title {
  padding-bottom: 20px;
  font-size: 40px;
}

.listOrderRequestCompanyContainer {
  background-color: var(--white);
  backdrop-filter: blur(120px);
  z-index: 999;
  height: 100vh;

  padding: 32px 64px;
  overflow: auto;
}

a {
  text-decoration: none;
  cursor: pointer;

  transition: all .3s;
}

.tableContainer {
  background-color: var(--gray-50);
  border-radius: 8px;
  width: 100%;
  margin: 84px 0 40px;
}

.tableContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  position: relative;
}

.tableContainer > div .openFilterModalBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
  border: none;
  border: 2px solid var(--gray-200);
  background-color: var(--white);
  border-radius: 4px;
  color: var(--gray-800);
}

.tableContainer h3 {
  color: var(--blue-500);
}

table {
  border-collapse: collapse;
  text-align: left;

  width: 100%;
}

table tr {
  border-bottom: 1px solid var(--gray-300);
}

thead tr {
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
}

thead th {
  color: var(--gray-600);
  font-weight: 500;
  padding: 12px 24px;
}

table tbody tr:last-child {
  border-bottom: none;
}

tbody td {
  padding: 12px 24px;
  color: var(--gray-500);
}

tbody td:nth-child(2) div {
  font-weight: 700;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 99999px;
}

.EM_ANALISE, .AGUARDANDO_ORCAMENTO, .AGUARDANDO_PECAS {
  background-color: #FFF59F;
  color: #978217 !important;
}

.ACEITO, .CONSERTO_FINALIZADO {
  background-color: #E9FFDF;
  color: #15803D !important;
}

.RECUSADO, .CANCELADA, .CANCELADO { 
  background-color: #FFEBEB;
  color: #C92A2A !important;
}

.AGENDADO, .AGUARDANDO_CONFIRMACAO, .EM_REPARO {
  background-color: #E8EDFF;
  color: #1971C2 !important;
}