body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: #f4f4f9;
    font-size: 20px;  
}

li {
    display: flex;
}

.header {
    align-self: flex-start;
    width: 90%;  
    max-width: 600px; 
    
    font-size: 2.5em;  
    color: #333;

    margin: 5% 0% 3% 5%;
    padding-bottom: 15px; 
}

.list {
    width: 90%; 
    max-width: 600px;  

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);  
    
    padding: 0%;
    
    margin: 25%;
    margin-top: 30px;  
    margin-bottom: 10px;  
    height: fit-content;
    /* overflow: scroll; */

}


.employee-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.icons{
    border-left: 1.5px solid #d1d5db;
    padding-left: 1%;
}


.employee-box {
    display: flex;
    padding: 15px 20px;  
    margin-bottom: 5px;  
    text-align: left;
    border-bottom: 2px solid #d3d3d3;  

    justify-content: space-between;
}

.employee-box:last-child {
    border-bottom: none;
}


.info-link {
    color: #007bff; 
    text-decoration: none; 
}

/* .info-link:hover {
    transform: translateY(-4px);
} */

.delete-employee-button{
    background-color: transparent;
    color: #d9534f;
    border: none;

}

.form-button {
    display: contents;
}

.new-employee-button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;

    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 

    margin-left: 7%;
}

.new-employee-button:hover {
    background-color: #0056b3; 
}

.toast {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  
    /* background-color: #f7f7f7; */
    background-color: #f0fcf1;
    color: #1f2937;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  
    animation: slideInLeft ease .5s, fadeOut linear 1s .5s forwards;
  }
  
  .success {
    border-left: 4px solid #22c55e;
  }
  
  .success>svg {
    color: #22c55e;
  }