p {
    color: blue;
}

.service_content{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    z-index: 999;
    overflow-y: scroll;
    height: 100%;
    
}
.content{
    background-color: var(--white);
    border-radius: 4px;
    padding: 32px;
    margin: 15%;
    margin-top: 5%;
    overflow: scroll;
    height: fit-content;
}

.update_button{
    
    float: right;
}