{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\choose-order.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\create_order.css' %}">
<link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eceel-Tec | Solicitar serviço</title>
{% endblock %}

{% block 'body' %}
<input type="hidden" id="context" data-errors="{{ errors }}">

<section class="mainSheet">
    <section class="sheet">
        <form action="" method="post" onsubmit="disableButton()">
            {% csrf_token %}
            <section class="sheetHeader">
                <div>
                    <label for="productType">Tipo do produto* </label>
                    <input type="text" name="productType" placeholder="Ex: Ventilador" id="" value="{{productType}}">
                    {% for error in errors %}
                        {% if error.field == 'type'%}
                            <span>
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="productOther">Outro </label>
                    <input type="text" name="productOther" value="{{productOther}}">
                    {% for error in errors %}
                    {% if error.field == 'other'%}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
            <section class="sheetHeader">
                <div>
                    <label for="productBrand">Marca do Produto* </label>
                    <input type="text" name="productBrand" placeholder="Ex: Mondial" id="" value="{{productBrand}}">
                    {% for error in errors %}
                        {% if error.field == 'brand'%}
                            <span>
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="productModel">Modelo do Produto* </label>
                    <input type="text" name="productModel" placeholder="Ex: VSP40C" value="{{productModel}}">
                    {% for error in errors %}
                    {% if error.field == 'model'%}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
          
            <div class="sheetSideBySide"> 
               <section class="description">
                    <label for="description">Explique qual o problema apresentado pelo produto</label>
                    <textarea name="productDescription" id="description">
                        {{productDescription}}
                    </textarea>
                    {% for error in errors %}
                        {% if error.field == 'description'%}
                        <span>
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }}
                        </span>
                        {% endif %}
                    {% endfor %}
                </section> 
 
              
             </div>


            <div class="createSheetActions">
                <button type="button">
                    <a href="{%url 'client:view_orders' %}">Cancelar</a>
                </button>
                <script>
                    function disableButton() {
                        const button = document.getElementById("submit_button");
                        button.disabled = true;
                    }
                </script>
                <button type="submit" id="submit_button">Solicitar</button>
            </div>
        </form>
    </section>
</section>
{% endblock %}