{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\choose-order.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\create_order.css' %}">
<link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eceel-Tec | Solicitar serviço</title>
{% endblock %}

{% block 'body' %}
<section class="mainorder">
    <section class="order">
        <form action="" method="post" onsubmit="disableButton()">
            {% csrf_token %}
            <section class="orderHeader">
                <div>
                    <label for="productType">Tipo do produto* </label>
                    <input type="text" name="productType" placeholder="Ex: Ventilador" id="" value="{{productType}}">
                    {% for error in errors %}
                        {% if error.field == 'type'%}
                            <span>
                                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                                    <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                                    <g>
                                        <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                        <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                                    </g>
                                </svg>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="productOther">Outro </label>
                    <input type="text" name="productOther" value="{{productOther}}">
                    {% for error in errors %}
                    {% if error.field == 'other'%}
                    <span>
                        <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                            <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                            <g>
                                <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                            </g>
                        </svg>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
            <section class="orderHeader">
                <div>
                    <label for="productBrand">Marca do Produto* </label>
                    <input type="text" name="productBrand" placeholder="Ex: Mondial" id="" value="{{productBrand}}">
                    {% for error in errors %}
                        {% if error.field == 'brand'%}
                            <span>
                        <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                            <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                            <g>
                                <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                            </g>
                        </svg>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="productModel">Modelo do Produto* </label>
                    <input type="text" name="productModel" placeholder="Ex: VSP40C" value="{{productModel}}">
                    {% for error in errors %}
                    {% if error.field == 'model'%}
                    <span>
                        <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                            <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                            <g>
                                <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                            </g>
                        </svg>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
          
            <div class="orderSideBySide"> 
               <section class="description">
                    <label for="description">Explique qual o problema apresentado pelo produto*</label>
                    <textarea name="productDescription" id="description">{{productDescription}}</textarea>
                    {% for error in errors %}
                        {% if error.field == 'description'%}
                        <span>
                            <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                            <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                            <g>
                                <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                            </g>
                        </svg>
                            {{ error.message }}
                        </span>
                        {% endif %}
                    {% endfor %}
                </section> 
 
              
             </div>


            <div class="createorderActions">
                <button type="button">
                    <a href="{%url 'client:view_orders' %}">Cancelar</a>
                </button>
                <script>
                    function disableButton() {
                        const button = document.getElementById("submit_button");
                        button.disabled = true;
                    }
                </script>
                <button type="submit" id="submit_button">Solicitar</button>
            </div>
        </form>
    </section>
</section>
{% endblock %}