{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\choose-order.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\create_order.css' %}">
<link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eceel-Tec | Solicitar serviço</title>
{% endblock %}

{% block 'body' %}
<input type="hidden" id="context" data-errors="{{ errors }}" data-magics="{{ magics }}">

<section class="mainSheet">
    <section class="sheet">
        <form action="" method="post" onsubmit="disableButton()">
            {% csrf_token %}
            <section class="sheetHeader">
                <div>
                    <label for="name">Tipo do produto*</label>
                    <input type="text" name="name" id="" value="{{name}}" placeholder="Ex: Ventilador">
                    {% for error in errors %}
                        {% if error.field == 'name'%}
                            <span>
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="race">Outro</label>
                    <input type="text" name="race" value="{{race}}">
                    {% for error in errors %}
                    {% if error.field == 'race'%}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
            <section class="sheetHeader">
                <div>
                    <label for="name">Marca do produto*</label>
                    <input type="text" name="name" id="" value="{{name}}" placeholder="Ex: Mondial">
                    {% for error in errors %}
                        {% if error.field == 'name'%}
                            <span>
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}

                </div>

                <div>
                    <label for="race">Modelo do produto</label>
                    <input type="text" name="race" value="{{race}}" placeholder="Ex: VSP40C">
                    {% for error in errors %}
                    {% if error.field == 'race'%}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>

            </section>
          
            <div class="sheetSideBySide"> 
               <section class="description">
                    <label for="description">Explique qual o problema apresentado pelo produto*</label>
                    <textarea name="description" id="description">
                        {{description}}
                    </textarea>
                    {% for error in errors %}
                        {% if error.field == 'description'%}
                        <span>
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }}
                        </span>
                        {% endif %}
                    {% endfor %}
                </section> 
 
              
             </div>


            <div class="createSheetActions">
                <button type="button" id="cancel">
                    <a href="">Cancelar</a>
                </button>
                <script>
                    function disableButton() {
                        const button = document.getElementById("submit_button");
                        button.disabled = true;
                    }
                </script>
                <button type="submit" id="submit_button">Solicitar</button>
            </div>
        </form>
    </section>
</section>
<script type="module" src="{% static 'sheets_app/js/equipment.js' %}"></script>
<script type="module" src="{% static 'sheets_app/js/image.js' %}"></script>
<script type="module" src="{% static 'sheets_app/js/magic.js' %}"></script>
<script type="module" src="{% static 'sheets_app/js/manage_magic.js' %}"></script>
{% endblock %}