{% extends "./orders.html" %}

{% block 'modal' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\delete-order.css' %}">


<section class="modalOverlay">
    <div class="deleteContent">
        <a href="{% url 'client:view_orders' %}">
            <p class="closebtn">
                <i data-lucide="x"></i>
            </p>
        </a>

        <h1>Solicitação N {{order.id}}°</h1><br>

        <div class="infos">
            <p>Deseja remover permanentemente a os?</p>
            <p>Essa ação não poderá ser desfeita!</p>
        </div>

        <form action="{% url 'client:delete_service' order.id %}" method="POST">
            {% csrf_token %}
            <div class="actions">

                <button id="cancel "type="button">
                    <a class="cancel" href="{% url 'client:view_orders'%}">Cancelar</a>
                </button>
                
                <script>
                    function disableButton() {
                        const button = document.getElementById("cancel");
                        button.disabled = true;
                    }
                </script>

                <button type="submit">Confirmar</button>
            </div>
        </form>

    </div>
</section>

{% endblock %}