{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\app_client\styles.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eccel-tec | Seus serviços</title>
{% endblock %}

{% block 'body' %}

<section class="list-requests-container">
    <h1 class="title">Seus serviços</h1>

    <section class="card-list">
        <a href="{% url 'client:request_os' %}" >
            <button class="new-request">
                
                   <h2>Solicitar serviço</h2> 
                
            </button>
        </a>
    </section>

    <section class="list-requests">
        {% comment %} {% for order in orders %} {% endcomment %}
        {% comment %} 
            <li class="product-box">
                <div class="status">
                    <i data-lucide="circle" width="16" height="16"></i>

                </div>

                <p>{{productType}}, {{productModel}}, {{productBrand}}</p>

                <div class="icons">

                    <i data-lucide="file-text" width="16" height="16"></i>
                </div>

                <div class="cancel">
                    <i data-lucide="ban" width="16" height="16"></i>
                </div>
            </li> {% endcomment %}
        {% comment %} {% endfor %}  {% endcomment %}
    </section>

    <section class="tableContainer">
        <div>
          <h3>Suas solicitações</h3>
        </div>

        <table>
          <thead>
            <tr>
                <th>Status</th>
                <th>Identificação</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <div> Aguardando </div>
                    </td>
                    <td>{{order.productType}} | {{order.productModel}}</td>
                    <td><i data-lucide="search" width="32" height="32" color="#155ec8"></i></td>
                    <td><i data-lucide="trash" width="32" height="32" color="#DC2626"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</section>
<script src="{% static 'sheets_app/js/sheet.js' %}"></script>
{% endblock %}