{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\app_client\styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\app_client\toast.css' %}">
    <link rel="stylesheet" href="{% static 'app_company/css/modal/filter-order-modal.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eccel-tec | Seus serviços</title>
{% endblock %}

{% block 'body' %}

{% for message in messages %}
    <div class="toast {{ message.tags }}">
      {% if message.tags  == 'success' %}
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-check"
            ><circle cx="12" cy="12" r="10"/>
            <path
            d="m9 12 2 2 4-4"
            />
        </svg>
      {% elif message.tags == 'error' %}
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-alert"
        ><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>
      {% endif %}
      <span>{{ message }}</span>
    </div>
{% endfor %}

<section class="list-requests-container">
    <input type="hidden" value="{{ your_orders_formatted }}" id="allOrders">
    <h1 class="title">Seus serviços</h1>

    <a href="{% url 'client:request_os' %}" >
        <button class="new-request">
            Solicitar serviço 
        </button>
    </a>

    <section class="tableContainer">
        <div>
            <h3>Suas solicitações</h3>

            <button class="openFilterModalBtn">
                <img src="{% static 'app_company/svgs/icons-filter.svg' %}" width="auto" height="24" alt="">
                {% comment %} <i data-lucide="list-filter" width="20" height="20"></i> {% endcomment %}
                Filtrar
            </button>

            <section class="filterModal">
                <header>
                    <p>
                        Filtros 
                    </p>
            
                    <button type="button" class="closeFilterModalBtn">
                        <img src="{% static 'app_company/svgs/icons-x.svg' %}" width="auto" height="48" alt="">
                        {% comment %} <i data-lucide="x" width="20" height="20"></i> {% endcomment %}
                    </button>
                </header>
            
                <div class="filterModalContent">
                    <div class="statusContainer">
                        <label for="orderStatus">Tipo de status:</label>
                        <select name="orderStatus" id="orderStatus">
                            <option value="all" selected>Todos</option>
                            <option value="EM_ANALISE">Em análise</option>
                            <option value="AGENDADO">Agendado</option>
                            <option value="AGUARDANDO_ORCAMENTO">Aguardando orçamento</option>
                            <option value="AGUARDANDO_CONFIRMACAO" >Aguardando confirmação</option>
                            <option value="RECUSADO">Recusado</option>
                            <option value="CANCELADA">Cancelada</option>
                            <option value="ACEITO">Aceito</option>

                            <option value="EM_REPARO">Em reparo</option>
                            <option value="AGUARDANDO_PECAS">Aguardando peças</option>
                            <option value="CONSERTO_FINALIZADO">Conserto finalizado</option>
                            <option value="CANCELADO">Cancelado</option>
                        </select>
                    </div>
                </div>
            
                <div class="actions">
                    <button type="button" class="applyFilters">Aplicar</button>
                </div>
            </section>
        </div>

        <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Identificação</th>
                <th>Data de agendamento</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <div class="{{order.status}}"> {{order.get_status_display}} </div>
                    </td>
                    <td>{{order.productType}} | {{order.productModel}}</td>
                    {% if order.scheduled_date %}
                        <td> {{ order.scheduled_date }} </td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    <td>
                        <a class="view" href="{% url 'client:view_order' order.id %}">
                            <button>Visualizar</button>
                        </a>
                    </td>
                    
                    {% if order.status == 'CANCELADO' or order.status == 'RECUSADO' or order.status == 'CANCELADA'%}
                        <td>
                            <a class="delete" href="{% url 'client:delete_service' order.id %}">
                                <button>Remover</button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</section>

    {% block 'modal' %}
    {% endblock %}
<script src="{% static 'js/filter-order-client.js' %}"></script>
{% endblock %}