{% extends 'base_client.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/app_client/rating.css' %}">
<link rel="shortcut icon" href="https://i.imgur.com/FShMthn.png" type="image/x-icon">
    <title>Eceel-Tec | Solicitar serviço</title>
{% endblock %}

{% block 'body' %}
<section class="mainRating">
    <section class="rating">
        <a href="{% url 'client:view_orders' %}" class="close">
            <img src="{% static 'svgs/icons-x.svg' %}" width="auto" height="48" alt="">
        </a>
        <form action="{% url 'client:rate_service' order.id %}" method="POST">
            {% csrf_token %}
            {% if rating %}
                <input type="hidden" name="edit_rating">
            {% endif %}
            
            {% if rating.attendance %}
                <input type="hidden" name="attendance" id="attendance" value="{{ rating.attendance }}">
            {% elif rating.attendance and attendance %}
                <input type="hidden" name="attendance" id="attendance" value="{{ attendance }}">
            {% else %}
                <input type="hidden" name="attendance" id="attendance" value="{{ attendance }}">
            {% endif %}

            {% if rating.service %}
                <input type="hidden" name="service" id="service" value="{{ rating.service }}">
            {% elif rating.service and service %}
                <input type="hidden" name="service" id="service" value="{{ service }}">
            {% else %}
                <input type="hidden" name="service" id="service" value="{{ service }}">
            {% endif %}

            {% if rating.time %}
                <input type="hidden" name="time" id="time" value="{{ rating.time }}">
            {% elif rating.time and time %}
                <input type="hidden" name="time" id="time" value="{{ time }}">
            {% else %}
                <input type="hidden" name="time" id="time" value="{{ time }}">
            {% endif %}


            <h1>Avaliação de serviço</h1>
            
            <section class="ratingContent">
                <div class="inputContainer">
                    <label>Atendimento:</label>
                    <div class="starErrorContainer">
                        <div class="ratingAttendance">
                            {{ rating.attendance }}
                            {% if rating.attendance >= 1 or attendance >= 1 %}
                                <button type="button" class="attendance active">
                            {% else %}
                                <button type="button" class="attendance">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.attendance >= 2 or attendance >= 2 %}
                                <button type="button" class="attendance active">
                            {% else %}
                                <button type="button" class="attendance">
                            {% endif %}
                                 <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.attendance >= 3 or attendance >= 3 %}
                                <button type="button" class="attendance active">
                            {% else %}
                                <button type="button" class="attendance">
                            {% endif %}
                                 <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.attendance >= 4 or attendance >= 4 %}
                                <button type="button" class="attendance active">
                            {% else %}
                                <button type="button" class="attendance">
                            {% endif %}
                                 <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.attendance >= 5 or attendance >= 5 %}
                                <button type="button" class="attendance active">
                            {% else %}
                                <button type="button" class="attendance">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                        </div>
    
                        {% for error in errors %}
                            {% if error.field == 'attendance' %}
                                <span class="error-message">
                                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                                    <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                                    <g>
                                        <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                        <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                                    </g>
                                </svg>
                                    {{ error.message }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="inputContainer">
                    <label>Serviço:</label>
                    <div class="starErrorContainer">
                        <div class="ratingService">
                            {% if rating.service >= 1 or service >= 1 %}
                                <button type="button" class="service active">
                            {% else %}
                                <button type="button" class="service">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.service >= 2 or service >= 2 %}
                                <button type="button" class="service active">
                            {% else %}
                                <button type="button" class="service">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.service >= 3 or service >= 3 %}
                                <button type="button" class="service active">
                            {% else %}
                                <button type="button" class="service">
                            {% endif %}
                               <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.service >= 4 or service >= 4 %}
                                <button type="button" class="service active">
                            {% else %}
                                <button type="button" class="service">
                            {% endif %}
                               <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.service >= 5 or service >= 5 %}
                                <button type="button" class="service active">
                            {% else %}
                                <button type="button" class="service">
                            {% endif %}
                               <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                        </div>
    
                        {% for error in errors %}
                            {% if error.field == 'service' %}
                                <span class="error-message">
                                    
                                    <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                                        <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                                        <g>
                                            <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                            <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                                        </g>
                                    </svg>
                                    {{ error.message }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="inputContainer">
                    <label>Tempo:</label>
                    <div class="starErrorContainer">
                        <div class="ratingTime">
                            {% if rating.time >= 1 or time >= 1 %}
                                <button type="button" class="time active">
                            {% else %}
                                <button type="button" class="time">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.time >= 2 or time >= 2 %}
                                <button type="button" class="time active">
                            {% else %}
                                <button type="button" class="time">
                            {% endif %}
                            <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.time >= 3 or time >= 3 %}
                                <button type="button" class="time active">
                            {% else %}
                                <button type="button" class="time">
                            {% endif %}
                               <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.time >= 4 or time >= 4 %}
                                <button type="button" class="time active">
                            {% else %}
                                <button type="button" class="time">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                            {% if rating.time >= 5 or time >= 5 %}
                                <button type="button" class="time active">
                            {% else %}
                                <button type="button" class="time">
                            {% endif %}
                                <svg id="Camada_2" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">                                
                                <path class="cls-1" d="M797.54,840.9l-222.72-156.39c-3.89-2.73-9.1-2.65-12.91.21l-217.56,163.49c-8.5,6.39-20.22-1.83-17.09-12l79.91-260.14c1.4-4.55-.29-9.48-4.19-12.21l-222.72-156.39c-8.7-6.11-4.5-19.79,6.13-19.96l272.1-4.39c4.76-.08,8.92-3.21,10.32-7.75l79.91-260.14c3.12-10.17,17.43-10.4,20.88-.34l88.26,257.43c1.54,4.5,5.81,7.49,10.56,7.42l272.1-4.39c10.63-.17,15.28,13.37,6.77,19.76l-217.56,163.49c-3.8,2.86-5.33,7.84-3.79,12.34l88.26,257.43c3.45,10.06-7.99,18.66-16.7,12.55Z"/>
                                </svg>
                            </button>
                        </div>
    
    
                        {% for error in errors %}
                            {% if error.field == 'time' %}
                                <span class="error-message">
                                    
                                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                                <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                                <g>
                                    <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                    <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                                </g>
                                </svg>
                                    {{ error.message }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
    
                <div class="textareaContainer">
                    <label for="notes">Comentários adicionais:</label>
                    {% if rating.notes %}
                        <textarea type="text" id="notes" name="notes">{{ rating.notes }}</textarea>
                    {% elif review_notes and rating.notes %}
                        <textarea type="text" id="notes" name="notes">{{ review_notes }}</textarea>
                    {% else %}
                        <textarea type="text" id="notes" name="notes">{{ review_notes }}</textarea>
                    {% endif %}

                    {% for error in errors %}
                        {% if error.field == 'review_notes' %}
                            <span class="error-message">
                                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                                    <circle class="cls-2" cx="552.05" cy="594.76" r="313.14"/>
                                    <g>
                                        <line class="cls-1" x1="548.89" y1="385.43" x2="550.67" y2="692.99"/>
                                        <ellipse class="cls-3" cx="549.78" cy="768.54" rx="34.67" ry="35.56"/>
                                    </g>
                                </svg>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <button type="submit" class="rating-submit">Avaliar</button>
        </form>
    </section>
</section>
<script src="{% static 'js/rating.js' %}" ></script>
{% endblock %}