{% extends "./orders.html" %}

{% block 'modal' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css\app_client\view_order.css' %}">

<div id="orderModal" class="modal">
    <div class="modal-content">
        {% if order.status == "CONSERTO_FINALIZADO" %}
        <div class="product ended">
        {% else %}
        <div class="product">
        {% endif %}
            <div class="productInfo">
                <p>
                    Status: <span class="{{order.status}} status">{{order.get_status_display}}</span>
                </p>
                <p>
                    Equipamento: <span>{{order.productType}}</span>
                </p>
                <p>
                    Marca: <span>{{order.productbrand}}</span>
                </p>
                <p>
                    Modelo: <span>{{order.productModel}}</span>
                </p>
                <p>
                    Descrição: <span>{{order.productProblemDescription}}</span>
                </p>

                {% if order.scheduled_date and order.status == 'AGENDADO' %}
                    <p>Data para entrega: <span>{{order.scheduled_date}}</span></p>
                    <p class="attention">Você tem até 7 dias após o dia estipulado para entregar seu produto.</p>
                {% endif %}

                {% if order.employee %}
                    <p>Funcionário Responsável: <span>{{order.employee.first_name}}</span></p>
                {% endif %}
            </div>


            {% if order.status == "AGUARDANDO_CONFIRMACAO" %}
                <div class="price">
                    <div>
                        <i data-lucide="dollar-sign"></i>
                    </div>
                    
                    {% if comma %}
                    <span>R$ {{ order.budget }}</span>
                    {% else %} 
                    <span>R$ {{ order.budget }},00</span>
                    {% endif %}
                </div>
            {% endif %}

            {% if order.status == "CONSERTO_FINALIZADO" %}
            
                <div class="finished">
                
                    <a id="rate" href="{% url 'client:rate_service' order.id %}">
                        <p>Avaliar o serviço prestado</p>
                    </a>

                    {% if not order.isReopen %}
                        <p>Finalizado em {{order.closedAt}}.</p>
                        <b>
                            <p>Serviço com garantia até 30 dias após o serviço finalizado</p>
                        </b>

                        <p>Algum problema?</p>
                        <a id="reopen" href="{% url 'client:reopen_service' order.id %}">
                            <p>Reabrir solicitação</p>
                        </a>
                        
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if rating.attendance %}
            <p>Atendimento: <span>{{rating.attendance}}</span></p>
        {% endif %}
        {% if rating.service %}
            <p>Serviço: <span>{{rating.service}}</span></p>
        {% endif %}
        {% if rating.time %}
            <p>Tempo: <span>{{rating.time}}</span></p>
        {% endif %}
        {% if order.status == "AGUARDANDO_CONFIRMACAO" %}
            <div class="waitingForm">
                <p>Você deseja prosseguir com o serviço?</p>
                <form action="{% url 'client:view_order' order.id %}" method="POST">
                    {% csrf_token %}
                    <div class="options">
                        <div class="radioOption yes">
                            <div>
                                <i data-lucide="check" stroke-width="3"></i>
                            </div>
                            <label for="yes">Sim, prosseguir</label><br>
                            <input type="radio" id="yes" name="choise" value="yes" checked>
                        </div>
                        <div class="radioOption no">
                            <div>
                                <i data-lucide="x" stroke-width="3"></i>
                            </div>
                            <label for="no" id="labelNo">Não, cancelar</label><br>
                            <input type="radio" id="no" name="choise" value="no">
                        </div>
                    </div>
                    <button type="submit">Confirmar</button>
                </form>
            </div>
        {% endif %}

        <a role="button" class="close" href="{% url 'client:view_orders' %}">
            <img src="{% static 'svgs/icons-x.svg' %}" width="auto" height="56" alt="">
            
        </a>
    </div>
</div>

{% endblock %}


