{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "css/base_client.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  {% block 'head' %}{% endblock %}

  <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>
  <main class="{% if app_name == 'app_client' %}mainclient{% endif %}">
    <button id="menuHamburguer">Menu</button>
    <nav id="sidebarNav">
      <img class="logo" src="https://i.imgur.com/FShMthn.png" alt="Logo Eccel-tec">
      <ul>
        <li class="drawers {% if app_name == 'app_client' %}active{% endif %}">
          <a href="{% url 'client:profile' %}">
            <i data-lucide="users-round"></i>
            Perfil
          </a>
        </li>
        <li class="employees {% if app_name == 'app_client' %}active{% endif %}">
         <a href="{% url 'client:view_orders'%}">
          <i data-lucide="file-text"></i>
          Serviços
         </a>
        </li>
        <li class="configs {% if app_name == 'app_client' %}active{% endif %}">
          <a href="#">
           <i data-lucide="settings"></i>
           Configurações
          </a>
         </li>
      </ul>
      <form  class="logout" action="" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="logout">
        <button type="submit"> 
          <i data-lucide="log-out" width='40' height='40'></i>
        </button>
      </form>
    </nav>
    {% block 'body' %}{% endblock %}
  </main>
  <!-- Development version -->
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <!-- Production version -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="{% static 'js/script.js' %}"></script>   
</body>
</html>