{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title></title>
{% endblock %}

{% block 'body' %}
<div class="content">
    <h1>Confirmação da ordem de serviço</h1>
    <form action="{% url 'company:create_os' pk=order_request.pk %}" method="post">
        {% csrf_token %}
        <label for="detailed_problem_description">Descrição detalhada do problema:</label>
        <textarea id="detailed_problem_description" name="detailed_problem_description" required></textarea>
        <label for="necessary_parts">Partes necessárias:</label>
        <textarea id="necessary_parts" name="necessary_parts" required></textarea>
        <button type="submit">Gerar ordem de serviço.</button>
    </form>
</div>
{% endblock %}