{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title></title>
{% endblock %}

{% block 'body' %}
<div class="content">
    <h1>Solicitações</h1>
    <ul>
        {% for request in service_requests %}
            <li>{{ request.productType }} - {{ request.productModel }} - {{ request.status }} <a href="{% url 'company:order_request_details' request.id %}">Ver solicitação</a></li>
        {% endfor %}
    </ul>
    <h1>Ordens de serviço</h1>
    <ul>
        {% for order in service_orders %}
            <li>{{ order.productType }} - {{ order.productModel }} - {{ order.status }} <a href="{% url 'company:service_order_details' order.id %}">Ver ordem de serviço</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}