<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'app_company/css/list-employees.css' %}"> 
</head>

<body>
    <div class="content">
        <h2 class="header">Colaboradores</h2>
        <div class="sheet">
            <ul class="employee-list">
                {% for employee in employees %}
                <li class="employee-box">{{ employee.username }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>