{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'app_company/css/list-employees.css' %}"> 
<title>
    Eceel-tec | Colaboradores
</title>
{% endblock %}

{% block 'body' %}
<div class="content">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="toast {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1 class="title">Colaboradores</h1>
    
    <form class="form-button" action="{% url 'company:register_employee' %}" method="get">
        <button type="submit" class="new-employee-button">Adicionar novo colaborador</button>
    </form>

    <section class="tableContainer">
        <div>
          <h3>Seus funcionários</h3>
        </div>

        <table>
          <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        {{ employee.username }}
                    </td>
                    <td> {{ employee.position }} </td>
                    <td>
                        <a href="{% url 'company:employee_details' employee.id %}" class="info-link">
                            <i class="file-text" data-lucide="user-search" width="28" height="28"></i>
                        </a>
                    </td>
                    <td>
                        <button type="button" data-url="{% url 'company:delete_employee' employee.id %}" class="openDeleteModal">
                            <i data-lucide="trash" width="28" height="28" color="#DC2626"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    </div>
    <section id="deleteModal" class="modal">
        <div class="modal-content">
            <button type="button" class="closeModalX">
                <i data-lucide="x"></i>
            </button>
            <strong>Confirmar deleção</strong>
            <p>Você tem certeza que deseja apagar o perfil desse funcionário?</p>
            <form id="confirmDeleteForm" method="POST" action="">
                {% csrf_token %}
                <button type="button" class="cancelBtn">
                    Cancelar
                </button>
                <button type="submit" class="deleteEmployeeBtn">
                    Confirmar
                </button>
            </form>
        </div>
    </section>
    <script src="{% static 'app_company/js/list-employees.js' %}"></script>
{% endblock %}