{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<title></title>
<link rel="stylesheet" href="{% static 'app_company/css/list-employees.css' %}"> 
{% endblock %}

{% block 'body' %}
<div class="content">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="toast {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2 class="header">Colaboradores</h2>
    
    <form class="form-button" action="{% url 'company:register_employee' %}" method="get">
        <button type="submit" class="new-employee-button">+ Novo</button>
    </form>

        <div class="list">
            <ul class="employee-list">
                {% for employee in employees %}
                <li class="employee-box">
                
                    <p>{{ employee.username }}</p>

                    <div class="icons">
                        <a href="{% url 'company:employee_details' employee.id %}" class="info-link">
                            <i class="file-text" data-lucide="file-text" width="24" height="24"></i>
                        </a>
                        <form class="form-button" action="{% url 'company:delete_employee' employee.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="delete-employee-button">
                                <i data-lucide="trash-2" width="24" height="24"></i>
                            </button>
                        </form>
                    </div>
                
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}