{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'app_company/css/list-order-request.css' %}">
    <link rel="stylesheet" href="{% static 'app_company/css/modal/filter-order-modal.css' %}">
    <link rel="stylesheet" href="{% static 'app_company/css/modal/delete-modal.css' %}">
    <title>Gaveta | Eceel-tec</title>
{% endblock %}

{% block 'body' %}
<section id="deleteModal" class="modal">
    <div class="modal-content">
        <button type="button" class="closeModalX">
            <img src="{% static 'app_company/svgs/icons-x.svg' %}" width="auto" height="56" alt="">
            {% comment %} <i data-lucide="x"></i> {% endcomment %}
        </button>
        <strong>Confirmar deleção</strong>
        <p>Você tem certeza que deseja apagar essa solicitação/OS?</p>
        <form id="confirmDeleteForm" method="POST" action="">
            {% csrf_token %}
            <button type="button" class="cancelBtn">
                Cancelar
            </button>
            <button type="submit" class="deleteRequestOrder">
                Confirmar
            </button>
        </form>
    </div>
</section>

<div class="content">
    <input type="hidden" value="{{ all_orders_formatted }}" id="allOrders">
    <section class="listOrderRequestCompanyContainer">
        <h1 class="title">Serviços</h1>
    
        <section class="tableContainer orders">
            <div>
                <h3>Serviços</h3>

                <button class="openFilterModalBtn">
                    {% comment %} <i data-lucide="list-filter" width="20" height="20"></i> {% endcomment %}
                    <img src="{% static 'app_company/svgs/icons-filter.svg' %}" width="auto" height="28" alt="">
                    Filtrar
                </button>

                <section class="filterModal">
                    <header>
                        <p>
                            Filtros 
                        </p>
                
                        <button type="button" class="closeFilterModalBtn">
                            <img src="{% static 'app_company/svgs/icons-x.svg' %}" width="auto" height="56" alt="">
                            {% comment %} <i data-lucide="x" width="20" height="20"></i> {% endcomment %}
                        </button>
                    </header>
                
                    <div class="filterModalContent">
                        <div class="orderTypeContainer">
                            <label for="orderType">Tipo de ordem</label>      
                            <select name="orderType" id="orderType" selected={{ order_request.status }}>
                                <option value="all" selected>Todos</option>
                                <option value="request">Solicitação</option>
                                <option value="order">Ordem de Serviço</option>
                            </select> 
                        </div>
                
                        <div class="statusContainer">
                            <label for="orderStatus">Tipo de status:</label>
                            <select name="orderStatus" id="orderStatus">
                                <optgroup label="Solicitação">
                                    <option value="all" selected>Todos</option>
                                    <option value="EM_ANALISE">Em análise</option>
                                    <option value="AGENDADO">Agendado</option>
                                    <option value="AGUARDANDO_ORCAMENTO">Aguardando orçamento</option>
                                    <option value="AGUARDANDO_CONFIRMACAO" >Aguardando confirmação</option>
                                    <option value="RECUSADO">Recusado</option>
                                    <option value="CANCELADA">Cancelada</option>
                                    <option value="ACEITO">Aceito</option>
                                </optgroup>

                                <optgroup label="OSS">
                                    <option value="EM_REPARO">Em reparo</option>
                                    <option value="AGUARDANDO_PECAS">Aguardando peças</option>
                                    <option value="CONSERTO_FINALIZADO">Conserto finalizado</option>
                                    <option value="CANCELADO">Cancelado</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                
                    <div class="actions">
                        <button type="button" class="applyFilters">Aplicar</button>
                    </div>
                </section>
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>Data de Abertura</th>
                        <th>Status</th>
                        <th>Identificação</th>
                        <th>Tipo</th>
                        <th>Técnico designado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            <tbody>
                {% for order in all_orders %}
                    <tr>
                        <td>
                            {{ order.created_at | date:"d/m/Y" }}
                        </td>
                        <td>
                            <div class="{{order.status}}"> {{order.get_status_display}} </div>
                        </td>
                        <td>{{order.productType}} | {{order.productModel}}</td>
                        <td>{% if order.isOs %} Ordem de Serviço {% else %} Solicitação {% endif %}</td>
                        <td>
                            {% if order.employee %}
                                {{ order.employee.first_name }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% if order.isOs %} {% url 'company:service_order_details' order.id %} {% else %} {% url 'company:order_request_details' order.id %} {% endif %}">
                                {% comment %} <i data-lucide="eye" width="24" height="24" color="#155ec8"></i> {% endcomment %}
                                <img src="{% static 'app_company/svgs/icons-vizsualizar.svg' %}" width="auto" height="32" alt="">
                            </a>
                        </td>
                        {% if order.status == 'CANCELADA' or order.status == 'RECUSADO' or order.status == 'CANCELADO' %}
                            <td>
                                <button type="button" class="deleteOrderRequest" data-url="{% url 'company:delete_service_order' order.id %}">
                                    {% comment %} <i data-lucide="trash" width="24" height="24" color="#DC2626"></i> {% endcomment %}
                                    <img src="{% static 'app_company/svgs/icons-lixo.svg' %}" width="auto" height="28" alt="">
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</div>
{% block 'modal' %}
{% endblock %}

<script src="{% static 'app_company/js/filter-order.js' %}"></script>
<script src="{% static 'app_company/js/delete-order-request.js' %}"></script>
{% endblock %}