{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title>Administrador - Gerenciar Solicitação</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_company\css\order-request-detail.css' %}">
{% endblock %}

{% block 'body' %}
<section class="serviceContentOverlay">
    <div class="content">
        <div class="infos">
            <h1>Solicitação {{order_request.id}}</h1>
            <p class="{{order_request.status}} status">Status: {{ order_request.get_status_display }}</p>

            <div class="infosGrid">
                <div class="productTypeContainer">
                    <label for="productbrand">Tipo: </label>
                    <input type="text" value={{ order_request.productType }} name="produtctType" disabled>
                </div>
    
                <div class="productbrandContainer">
                    <label for="productbrand">Marca: </label>
                    <input type="text" value={{ order_request.productbrand }} name="productbrand" disabled>
                </div>
    
                <div class="productModelContainer">
                    <label for="productModel">Modelo: </label>
                    <input type="text" value={{ order_request.productModel }} name="productModel" disabled>
                </div>
            </div>

            <div class="productProblemDescriptionContainer">
                <label for="productProblemDescription">Descrição: </label>
                <textarea name="productProblemDescription" disabled>{{ order_request.productProblemDescription }}</textarea>
            </div>

        </div>
        <form action="{% url 'company:order_request_details' order_request.id %}" method="post">
            {% csrf_token %}
            <label for="status">Atualizar status:</label>
            <select name="status" id="status">
                <option value="EM_ANALISE" {% if order_request.status == "EM_ANALISE" %}selected{% endif %}>
                    Em análise
                </option>
                <option value="AGENDADO" {% if order_request.status == "AGENDADO" %}selected{% endif %}>
                    Agendado
                </option>
                <option value="AGUARDANDO_ORCAMENTO" {% if order_request.status == "AGUARDANDO_ORCAMENTO" %}selected{% endif %}>
                    Aguardando orçamento
                </option>
                {% if order_request.status == "AGUARDANDO_ORCAMENTO" %}
                <option value="AGUARDANDO_CONFIRMACAO"  {% if order_request.status == "AGUARDANDO_CONFIRMACAO" %}selected{% endif %}>
                    Aguardando confirmação
                </option>
                {% endif %}
                <option value="CANCELADA" {% if order_request.status == "CANCELADA" %}selected{% endif %}>
                    Cancelada
                </option>
            </select>
            {% if order_request.status == "AGUARDANDO_ORCAMENTO" or order_request.status == "AGUARDANDO_CONFIRMACAO" %}
                <div class="budgetContainer">
                    <label for="budget">Valor do orçamento: </label>
                    <input type="{% if not order_request.budget %}number{% else %}text{% endif %}" name="budget" placeholder="Insira o valor do orçamento" value="{{ order_request.budget }}">
                </div>
            {% endif %}
            {% if order_request.status != "ACEITO" %}
            <button type="submit">Atualizar</button>
            {% else %}
            <button type="submit">Confirmar OS </button>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}