{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title>Administrador - Gerenciar Solicitação</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_company\css\order-request-detail.css' %}">
{% endblock %}

{% block 'body' %}
<section class="serviceContentOverlay">
    <div class="content">
        <div class="infos">
            <h1>Solicitação {{order_request.id}}</h1>
            <p class="{{order_request.status}} status">Status: {{ order_request.get_status_display }}</p>
            
             <a href="{% url 'company:order_request_list' %}"  class="closebtn">
                <img src="{% static 'svgs/icons-x.svg' %}" width="auto" height="56" alt="">
            </a>
            <div class="infosGrid">
                <div class="productTypeContainer">
                    <label for="productbrand">Tipo: </label>
                    <input type="text" value={{ order_request.productType }} name="produtctType" disabled>
                </div>
    
                <div class="productbrandContainer">
                    <label for="productbrand">Marca: </label>
                    <input type="text" value={{ order_request.productbrand }} name="productbrand" disabled>
                </div>
    
                <div class="productModelContainer">
                    <label for="productModel">Modelo: </label>
                    <input type="text" value={{ order_request.productModel }} name="productModel" disabled>
                </div>
            </div>

            <div class="productProblemDescriptionContainer">
                <label for="productProblemDescription">Descrição: </label>
                <textarea name="productProblemDescription" disabled>{{ order_request.productProblemDescription }}</textarea>
            </div>
            {% if order_request.scheduled_date %}
            <div class="scheduledDateconfirmed">
                <label for="scheduledDateconfirmed">Data para chegada do produto: </label>
                <textarea name="scheduledDateconfirmed" disabled>{{ order_request.scheduled_date }}</textarea>
            </div>
            {% endif %}

            {% if order_request.budget %}
            <div class="budgetWatingConfirmation">
                <label for="budgetWatingConfirmation">Orçamento: </label>
                <input name="budgetWatingConfirmation"  value="R$ {{ order_request.budget }}" disabled>
            </div>
            {% endif %}

        </div>
       
        <form action="{% url 'company:order_request_details' order_request.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="status" value="{{ order_request.status }}">

            {% if order_request.status == "AGUARDANDO_ORCAMENTO" %}
                <div class="budgetContainer">
                    <label for="budget">Valor do orçamento: </label>
                    <input type="text" name="budget" placeholder="Insira o valor do orçamento"value="{% if order_request.budget %}{{order_request.budget}}{% endif %}">
                    {% if errors %}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ errors.message }}
                    </span>
                    {% endif %}
                </div>
            {% endif %} 

            {% if not order_request.scheduled_date %}
                {% if order_request.status == "EM_ANALISE" %}
                <div class="scheduleDateContainer">
                    <label for="scheduled_date">Data para receber o produto: </label>
                    <input type="date" name="scheduled_date" value="{{ order_request.scheduled_date }}">
                    
                    {% if error %}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}

            {% if order_request.status != "ACEITO" %}
                <button type="submit">  {% if order_request.status == "AGENDADO" %}Equipamento recebido{% else %}Atualizar{% endif %}</button>
            {% else %}
                <div class="works">    
                    <label for="detailed_problem_description">Descrição detalhada do problema:</label>
                    <textarea id="detailed_problem_description" name="detailed_problem_description" required></textarea>
                    {% if error %}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    <label for="necessary_parts">Partes necessárias:</label>
                    <textarea id="necessary_parts" name="necessary_parts" required></textarea>
                    {% if error %}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                    <button type="submit">Gerar ordem de serviço</button>
                </div>
            {% endif %}
        </form>
        
    </div>
</section>
{% endblock %}