<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}
<h2>Registrar novo colaborador</h2>
<form action="{% url 'register_employee' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Nome do colaborador:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Registrar</button>
</form>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}