{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title>Vizualizar Ordem de Serviço</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_company\css\service-order.css' %}">

{% endblock %}

{% block 'body' %}
<section class="modal">
    <div class="content">
        <a href="{% url 'company:order_request_list' %}">
            <i data-lucide="x" class="close" id="closeIcon"></i>
        </a>

        <div class="infos">
            <h1>Solicitação {{service_order.id}}</h1>
            <p class="{{service_order.status}} status">Status: {{ service_order.get_status_display }}</p>

            <div class="infosGrid">
                <div class="productTypeContainer">
                    <label for="productbrand">Tipo: </label>
                    <input type="text" value={{ service_order.productType }} name="produtctType" disabled>
                </div>
    
                <div class="productbrandContainer">
                    <label for="productbrand">Marca: </label>
                    <input type="text" value={{ service_order.productbrand }} name="productbrand" disabled>
                </div>
    
                <div class="productModelContainer">
                    <label for="productModel">Modelo: </label>
                    <input type="text" value={{ service_order.productModel }} name="productModel" disabled>
                </div>

                
            </div>


        </div>

        <form action="{% url 'company:service_order_details' service_order.id %}" method="post">
            {% csrf_token %}

            <div class="detailed_problem_description">
                <label for="detailed_problem_description">Descrição detalhada do problema:</label>
                <textarea id="detailed_problem_description" name="detailed_problem_description" >{{service_order.detailedProblemDescription}}</textarea>
            </div>

            <div>
                <label for="necessary_parts">Partes necessárias:</label>
                <textarea name="necessary_parts" id="necessary_parts">{{service_order.necessaryParts}}</textarea>
            </div>

            <label for="status">Atualizar status:</label>
            <select name="status" id="status">
                <option value="EM_REPARO" {% if service_order.status == "EM_REPARO" %}selected{% endif %}>
                    Em reparo
                </option>
                <option value="AGUARDANDO_PECAS" {% if service_order.status == "AGUARDANDO_PECAS" %}selected{% endif %}>
                    Aguardando peças
                </option>
                <option value="CONSERTO_FINALIZADO" {% if service_order.status == "CONSERTO_FINALIZADO" %}selected{% endif %}>
                    Conserto finalizado
                </option>
                <option value="CANCELADO" {% if service_order.status == "CANCELADO" %}selected{% endif %}>
                    Cancelado
                </option>
            </select>

            {% if service_order.employee%}

                {% if user.role == 'A' %}
                <br>
                <label for="tecnician">Designar Técnico:</label>
                <select name="tecnician" id="tecnician" placeholder="Escolher Técnico">
                    <option value="" selected disabled>
                        Escolher Técnico
                    </option>
                    {% for tec in employees %}
                    <option value=" {{ tec.first_name }}">
                        {{ tec.first_name }}
                    </option>
                    {% endfor %} 
                </select>

                {% else %}
                
                <p>Deseja assumir a OS?</p> <button type="submit" name="assume" value="true">Assumir OS</button>
                
                {% endif %}

            {% else %}
                <br>
                <p>Funcionário Responsável: <span>{{ service_order.employee.first_name }}</span> </p>
            {% endif %}
            <br>

            

        </form>
            
        <button class="update" type="submit">Atualizar</button>
            
        
    </div>
</section>
{% endblock  %}