{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <title></title>
{% endblock %}

{% block 'body' %}
<div class="content">
    <h1></h1>
    <p>Tipo do produto: {{ service_order.productType }}</p>
    <p>Descrição do problema: {{ service_order.detailedProblemDescription }}</p>
    <p>Marca: {{ service_order.productbrand }}</p>
    <p>Partes necessárias: {{ service_order.necessaryParts }}</p>
    <p>Orçamento: R${{ service_order.budget }}</p>
    <p>Status: {{ service_order.status }}</p>
</div>
{% endblock %}